@import "abstract/reset";
@import "abstract/mixin";
@import "abstract/common";
.main {
    @include shadow;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__output {
        width: 350px;
        height: 70px;
        padding: 16px 32px;
        text-align: right;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        color: #333;
        @include shadow-inset;

        &-previous {
            font-size: 15px;
        }

        &-current {
            font-weight: 700;
        }
    }

    &__key {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 20px;

        &-operator {
            font-weight: 900;
            color: black;
        }
    }
}
