.btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include shadow;
    margin: 10px;

    &:hover {
        background-color: #ccc;
    }

    &:focus {
        outline: none !important;
    }
}
